# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# CoApp Generated NuGet Package
*.nupkg

# 'build' folder is temporary for binary files from Visual Studio.
build